<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Template</title>
</head>
<body>
<h1>Feiras</h1>
<ul>
	{% for feira in feiras %}
		{% for key, local in feira.items %}
			{% for loc, l in local.items %}
				<li>{{ l }}</li>
			{% endfor %}
				<br/>
		{% endfor %}
	{% endfor %}
</ul>
</body>
</html>